/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 5rem;
  }
}

.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buttons   .btn{
  position: relative;
	z-index: 0;
	line-height: 60px;
	color: var(--ifm-hero-text-color);
	font-size: 18px;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	overflow: hidden;
	cursor: pointer;
	transition: .3s;
	-webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 0, .4));
  border: 0;
  margin: 10px 0;
  /* filter: hue-rotate(270deg); */
  /* border: 2px solid var(--ifm-hero-text-color);
  color: var(--ifm-hero-text-color); */
}




.buttons   .btn, .buttons   .btn::before, .buttons   .btn::after {
	box-sizing: border-box;
}


.buttons   .btn:hover {
  color: var(--ifm-color-primary);
  box-shadow: 0 0 5px var(--ifm-hero-text-color),
    0 0 25px var(--ifm-hero-text-color);
  
  
}

.buttons   .btn:hover::after,
.buttons   .btn:hover::before {
  transition: .3s;
  background: var(--ifm-hero-text-color);
}

.buttons   .btn::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700%;
  height: 700%;
  background: var(--ifm-color-primary);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 0 0;
  background-image: conic-gradient(var(--ifm-hero-text-color), var(--ifm-hero-text-color));
  animation: rotate 2s linear infinite;
}

.buttons   .btn:nth-child(2):before{
  animation-delay: -1.4s;
}

.buttons   .btn:nth-child(3):before{
  animation-delay: -0.7s;
}

.buttons   .btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--ifm-color-primary);
  border-radius: 10px;
}

.con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle{
  width: auto;
  transition: .3s;
  padding-top: 10px;
  /* color: var(--ifm-color-white); */
}

.subtitle1, .subtitle2{
  white-space: nowrap;
  font-weight: 200;
}

.subtitle1 span, .subtitle2 span{
  font-weight: 400;
}

.title{
  transition: .3s;
  /* color: var(--ifm-color-white); */
}



.btn:hover{
  opacity: 0.98;
}


@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
